[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = kawabataryo
	email = ryo.wizard@gmail.com
[color]
	ui = auto
[push]
	default = current
[core]
	excludesfile = /Users/kawabataryou/.gitignore_global
[alias]
	st = status
	co = checkout
	br = branch
